@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

/* RESETAR CSS para padronizar visualização em todos os navegadores */ 
* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

/* FUNDO DO SITE */
body {
    background: #000;
    font-family: "Montserrat", sans-serif;
    color: white;
    margin: 0;
}

/* IMAGEM DO CABEÇALHO */
.header{
    width: 100%;
    height:100vh;
    /* background-image: url(https://p4.wallpaperbetter.com/wallpaper/1006/997/299/animals-snake-wallpaper-preview.jpg); */
    background-image: url(../static/wallpaperbetter.com_2560x1080.jpg);
    background-repeat:no-repeat;
    background-position:center;
    background-size:cover;
}
/* MENU */
.nav{
    height:6.25rem;/* 100px */
    width:100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width:8.75rem;/*140px*/
    margin-left:1.25rem;/*20px*/
    position: absolute;
    top: 1rem;
}

.toggle {
    width:2.75rem;/*140px*/
    margin-right:1.25rem;/*20px*/
    position: absolute;
    top: 1.25rem;
    right: 0px;
}

.bar-btn{
    font-size:1.56rem;/* 25px */
    color: #fff;
    margin-right:1.25rem;
    cursor: pointer
}

.nav-menu {
    position:fixed;
    width: 100%;
    height:0vh;
    top:6.25rem;
    background: rgba(0, 0, 0, .95);
    text-align:center;
    transition:all .5s;
}

.nav-menu li {
    display: none;
    line-height: 1.87rem;
    margin: 3.12rem 0;
    transition: all .5s;
}

.nav-menu li a {
    color: #fff;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 600;
}

.nav-menu li a.active, .nav-menu li a:hover {
    color:#3359ec;
    transition: .3s;
}

#check {
    display:none;
}

#check:checked ~ .nav-menu { /* vou usar uma pseudoclasse pra ocultar o menu quando a pessoa apertar no menu */
    height: 100vh;
}

#check:checked ~.nav-menu li {
    display:block;
}
/* Fim do Menu retratil */

/* Cards Animais */
.container {
    margin: 2% 2% 0 3%;
}
.row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;

}
.animals img{
    margin-right: 10%;
    margin-bottom: 10%;
    width: 230px;
    height: 200px;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: -2px 2px 5px 0 #3359;
    transition: 0.8s;
}
.animals img:hover {
    transform: translateY(-10px);
    box-shadow: 0 19px 38px #3359, 0 15px 12px #3357;
}
/* Fim da sessão animais */

/*read individual */

.readtitulo{
    display: flex;
    justify-content: center;
    text-align: center;
}

.readimagem{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: left;
    justify-content: space-evenly;
    align-items: center;
}
.readbotoes{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    margin-right: 2rem;
}
#imagemSingle{
    max-height: 25rem;
}
/* Fim do read individual */
.bloco{
    display: flex;
    justify-content: center;
    text-align: center;
}

.botao{
    background-color: #3359ec;
    border: none;
    border-radius: 0.62rem;
    color: white;
    display: inline-block;
    padding: 1.25rem;
    margin: 0.62rem;
    font-size: 1rem;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    box-shadow: 0.18rem 0.18rem 0.62rem rgba(0, 0, 0, 0.796);
}

.botao:hover{
    background-color: #3359ec;
    transition: 0.25s;
    transform: translateY(-2px);
    box-shadow: 0 19px 38px #3359, 0 15px 12px #3357;
}

.form{
    display: flex;
    flex-direction: Column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    min-width: 100%;
}

.form_input{
    width: 80%;
    align-items: center;

}

.form_input label{
    font-weight: bold;
    width: 40%;
    padding-right: 0.62rem;
}

.form_input input[type=text]{
    width: 60%;
    padding: 0.37rem;
    padding-left: 0.62rem;
    margin: 0.40rem 0.40rem;
    border-radius: 0.25rem;
    border: 0.06rem solid #CCCCCC;
    box-sizing: border-box;
}

.form_input input[type=submit]{
    width: 100%;
}

.novo_id{
    background: #3359ec;
    border-radius: 0.31rem;
    color: white;
    font-size: 1.25rem;
    font-weight: bold;
    padding: 0.31rem 1.25rem;
}

.sucesso{
    background-color: #d4edda;
    border-color: #c3e6cb;
    border-radius: 0.25rem;
    color: #155724;
    margin: 0 3.12rem;
}

.removido{
    background-color: #f8d7da;
    border-color: #f5c6cb;
    border-radius: 0.25rem;
    color: #721c24;
    margin: 0 3.12rem;
}

.certeza{
    font-size: 1rem;
}

.div-contato{
    display: flex;
    justify-content: center;
    text-align: center;
    margin-bottom: 3rem;
    margin-top: 2rem;
}
.contato {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    background: rgba(0, 0, 0, .95);
    margin-bottom: 3rem;
}

.infocontato{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 18rem;
    border: 2px solid #3359ec;
    padding: 3rem;
    margin: 1.4rem;
}

.infocontato:hover{
    transform: translateY(-10px);
    box-shadow: 0 19px 38px #3359, 0 15px 12px #3357;
}

.infocontato li{
    margin-top: 0.5rem;
}

.icons{
    width: 3rem;

}
.fotoperfil{
    border-radius: 50%;
    width: 6rem;
}
.links{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}