<div class="header">
    <nav>
        <div>
            <a href="https://blueedtech.com.br/"><img src="../static/logoblue.png" alt="Blue Edtech" class="logo" /></a>
        </div>
        <input type="checkbox" id="check">
        <label for="check" class="bar-btn">
            <img src="../static/menu.png" alt="menu" class="toggle"/>
        </label>
        <ul class="nav-menu">
            <li><a class="active" href="/">Início</a></li>
            <li><a href="/create">Adicionar Animal</a></li>
            <li><a href="/read">Visualizar tudo</a></li>
            <li><a href="#">Contato</a></li>
        </ul>
    </nav>
</div>