<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Animais Peçonhentos</title>
    <link rel="stylesheet" href="/static/estilo.css" />
    <link rel="shortcut icon" href="../static/favicon.ico" />
</head>
<body>
    {% include 'header.html' %}
    <section id="animals">
        <div class="container">
            <h2>Animais</h2>
            <br>
        </div>
        <div class="row">
            {% for registro in registros %}
            <div class="row animals">
                        <div class="cardanimal"><a href="/read/{{ registro['id'] }}"><img src=" {{ registro['imagemurl'] }}" alt="{{ registro['nomeanimal'] }}"/></a></div>
            </div>
            {% endfor %}
        </div>
    </section>
 </body>
</html>