<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Animais Peçonhentos</title>
    <link rel="stylesheet" href="/static/estilo.css" />
    <link rel="shortcut icon" href="../static/favicon.ico" />
</head>
<body>
    {% include 'header.html' %}
    
    <div class="readtitulo">
        <h2> {{ registro.nomeanimal }}</h2>
    </div>

    <div class="readimagem">
        <img src="{{ registro.imagemurl }}" alt="{{ registro.nomeanimal }}" id="imagemSingle" />
    </div>

    <div class="readbotoes">
        <a href="/read" class="botao">Voltar</a>
        <a href="/update/{{ registro['id'] }}" class="botao">Editar</a>
        <a href="/delete/{{ registro['id'] }}" class="botao">Remover</a>
    </div>
</body>
</html>